$blue-t9: #98c1ff;
$blue-t8: #87b7ff;
$blue-t7: #76adff;
$blue-t6: #65a3ff;
$blue-t5: #5498ff;
$blue-t4: #438eff;
$blue-t3: #438eff;
$blue-t2: #3284ff;
$blue-t1: #2079ff;
$blue: #0f6fff;
$blue-s1: #0064fb;
$blue-s2: #005de8;
$blue-s3: #0055d4;
$blue-s4: #004dc1;
$blue-s5: #0046ae;
$blue-s6: #003e9a;
$blue-s7: #003687;
$blue-s8: #002e74;
$black: #000;
$white: #fff;
$blue: #0f6fff;
$red: #ff3e33;
$green: #5fcf65;
$yellow: #f3db6d;
$default-color: #265e9c;
$warning-color: #b08800;
$error-color: #ae3c42;
$success-color: #538f61;
$light-blue: #5f9ffd;
$light-red: #faa9b3;
$light-green: #dcffe4;
$light-yellow: #fffbdd;
$red-hover: #fc8291;
$green-hover: #99faaf;
$blue-hover: #3d85ee;
$secondary-btn-border-color: #d9dbdb;