.dark {
  --primary-bg: #303239;
  --secondary-bg: #232127;
  --text-color: #fff;
  --checked-task-bg: #25262b;
  --sub-text-color: #90a2aa;
  --sub-icon-color: #90a2aa;
  --hover-color: #26272d;
  --modal-bg: #19181c;
  --modal-input-bg: #303239;
  --modal-btn-hover: #2f2d34;
  --modal-input-border: #363b40;
  --modal-input-text-color: #90a2aa;
  --form-border: 2px solid #363b40;
  --todo-hover: 5px 5px 20px rgba(28, 29, 34, 1);
}
